@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-image: url(../img/EEE.png);
}


/*
========================================
			STATS
========================================
*/

.paper {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #CCC;
	box-shadow: 0px 1px 1px #AAA;
	background-color: #FFF;
}

.nums {
	background-image: url(../img/222.png);
	padding: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}

.stat, .titles {
	display: inline-block;
	width: 24%;
	text-align: center;
}

.stat {
	font-family:Arvil;
	font-size: 64px;
	color: #FFF;
	text-shadow: 1px 1px #333;
}

.names {
	padding: 10px;
	text-align: center;
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
}

.titles {
	font-family: SourceSansProLight;
	font-size: 16px;
}

.paper_wrap {
	padding: 25px;
	font-family: SourceSansProLight;
}

.ic, a.ic {
	color: #000;
	text-decoration: none;
	font-family: Icons;
	background-image: url(../img/EEE.png);
	display: inline-block;
	padding: 20px;
	border: 1px solid #CCC;
	-webkit-transition: background-image .5s ease;
	-moz-transition: background-image .5s ease;
	-o-transition: background-image .5s ease;
	-ms-transition: background-image .5s ease;
	transition: background-image .5s ease;
}

.ic:hover {
	background-image: url(../img/CCC.png);
}

.button_wrap {
	text-align: center;
}

/*
========================================
			FOOTER
========================================
*/

.footer {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}