@charset "UTF-8";

html {
	
}

body {
	background-color: #FFF;
	color: #333;
	margin: 0;
	font-family: SourceSansProLight;
}

a {
	color: #F90;
	text-decoration: none;
	-webkit-transition: color .5s ease;
	-moz-transition: color .5s ease;
	-o-transition: color .5s ease;
	-ms-transition: color .5s ease;
	transition: color .5s ease;
}

a:hover {
	color: #333;
}

hr {
	width: 50%;
	height: 1px;
	border: 0px;
	background-color: #EEE;
}

/*
========================================
				FONTS
========================================
*/

@font-face {
	font-family: SourceSansProLight;
	src: url('../font/SourceSansPro-Light.ttf');
}

@font-face {
	font-family: SourceSansProRegular;
	src: url('../font/SourceSansPro-Regular	.ttf');
}

@font-face {
	font-family: Icons;
	src: url('../font/icons.ttf');
}

/*
========================================
			KEYFRAMES
========================================
*/

@-webkit-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@-moz-keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

@keyframes fade {
	from { opacity: 0; }
	50% { opacity: .5; }
	to { opacity: 1; }
}

/*
========================================
			INDEX PAGE CENTER
========================================
*/

.center {
	text-align: center;
}

.title {
	font-size: 64px;
}

.icon {
	font-family: Icons;
	font-size: 14px;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: left;
}

/*
========================================
			PAGES
========================================
*/

.header {
	font-size: 32px;
}

.question {
	margin-top: 5px;
	font-family: SourceSansProRegular;
	padding: 5px;
	background-color: #EEE;
	border: 1px solid #CCC;
	-webkit-transition: background-color .5s ease;
	-moz-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	-ms-transition: background-color .5s ease;
	transition: background-color .5s ease;
}

.question:hover {
	background-color: #DDD;
}

.answer {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-top: none;
	padding: 5px;
	margin-bottom: 5px;
	display: none;
	opacity: 0;
}

.answer:target {
	opacity: 1;
	-webkit-animation: fade .5s linear;
	-moz-animation: fade .5s linear;
	animation: fade .5s linear;
	display: block;
}

a.nocolor, .nocolor {
	color: #333;
}

/*
========================================
			BLOG
========================================
*/

.post {
	border: 1px solid #EEE;
	margin-top: 5px;
	padding: 5px;
}

.post:nth-child(odd) {
	background-color: #F9F9F9;
}

.post:nth-child(even) {
	background-color: #FFF;
}