@charset "UTF-8";

body {
	margin: 0;
	color: #333;
	font-family: "Helvetica Neue";
	font-size: 14px;
	background-color: #F6F6F6;
	border-top: 5px solid #76bcae;
	border-bottom: 5px solid #76bcae;
}

a {
	color: #76bcae;
	text-decoration: none;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	transition: all .1s linear;
}

a:hover {
	color: #AAA;
}

/*
==============================
           FONTS
==============================
*/

@font-face {
	font-family: icons;
	src: url('../font/icons.ttf');
}

/*
==============================
           HEADERS
==============================
*/

h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin: 0;
	font-weight: 900;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

/*
==============================
           MAIN
==============================
*/

.title {
	text-align: center;
	padding: 50px 0px;
}

.slogan {
	font-style: italic;
	color: #CCC;
}

.wrap {
	padding: 50px;
	margin: 0 auto;
}

.write {
	padding: 25px 50px;
	margin: 0 auto;
}

.icons {
	text-align: center;
	padding: 20px 0px;
}

.icon {
	font-family: icons;
	font-size: 32px;
	color: #CCC;
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border: 3px solid #CCC;
	background-color: #FFF;
	padding: 10px;
}

.twitter:hover {
	border: 5px solid rgba(50, 150, 255, .4);
}

.irc:hover {
	border: 5px solid rgba(255, 150, 0, .4);
}

.reddit:hover {
	border: 5px solid rgba(0, 0, 0, .4);
}

.google:hover {
	border: 5px solid rgba(200, 0, 0, .4);
}